body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: azure;
}
.App {
  text-align: center;
}
button {
  font-size: 15px;
  padding: 8px 15px;
  margin: 5px;
  background-color: #252525;
  color: azure;
  border-radius: 30px;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #5c57b1;
}
h1 {
  font-size: 50px;
}
.container {
  width: 400px;
  height: 400px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: #a4a4a4;
  border-radius: 50px;
}
.cmp {
  padding-top: 20px;
}